@import "tailwindcss";

@theme {

  --color-primary: #4F46E5;
  --color-primary-dark: #594fff;
  /* // Indigo (Main) */
  --color-primary-hover: #6366F1; /* lighter shade for hover */
  --color-secondary: #22C55E; 
  /* // Green (Accent) */
  --color-light: #F3F4F6;
  /* Background (Light Mode) */
  --color-dark-bg: #1F2937; 
  /* // Background (Dark Mode) */
  --color-light-text: #374151; 
  /* // Text color in Light Mode */
  --color-dark-text: #E5E7EB;
  /* // Text color in Dark Mode */
  --color-borderclr: #D1D5DB;
  /* // Borders & Dividers */
  --font-sans: Inter, "ui-sans-serif", "system-ui";
  --font-serif: Merriweather, "ui-serif", "Georgia";
  --font-mono: Fira Code, "ui-monospace", "SFMono-Regular";
}

@custom-variant dark (&:where(.dark, .dark *));

html {
  transition: background-color 0.3s, color 0.3s;
}


:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide everything except the resume when printing */
@media print {
  @page{
    margin-top: 0 ;
    margin-bottom: 0;
  }
  body * {
    visibility: hidden;
  }
  
  .print-content, .print-content * {
    visibility: visible;
  }

  .print-content {
    position: absolute;
    top: 0;
    left: 0;
  }

  /* Optional: Hide other elements like the navbar, form, etc. */
  .no-print {
    display: none;
  }
}


.input {
  @apply w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent;
}